.SendButton{
    display: inline-block;
    padding: 9px 20px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: rgb(21, 20, 20);
    background-color: #48a8b0;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;

}

.SendButton :hover  {background-color: #3e8e41}
.button:active {
    background-color: #668e87;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }


.sidebar__logo {
    height: 80px;
    
}

.sidebar__logo > img {
    height: 190px;
}


